html[data-theme="light"], :root {
    --primary: #9c2cfe;
    --secondary: #8800ff;
    --breadcrumbs-bg: #5903a4;
    --visited: #efdcff;
    --selected-row: #8800ff22;
    --primary-fg: #ffffff;
    --link-fg: #777;
    --body-fg: #333333;
    --body-bg: #f5f5f5;
    --default-button-bg: #5903a4;
    --header-bg: #5903a4;
    --td-color: #555;
}


html[data-theme="dark"], :root {
    --primary: #9c2cfe;
    --secondary: #8800ff;
    --breadcrumbs-bg: #5903a4;
    --visited: #efdcff;
    --selected-row: #8800ff22;
    --primary-fg: #ffffff;
    --link-fg: #ffffff;
    --body-fg: #ccc;
    --body-bg: #171717;
    --default-button-bg: #6d03c9;
    --header-bg: #6d03c9;
    --td-color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul.messagelist li {
    margin: 10px 40px 10px 40px;
}


#header {
    color: var(--primary-fg);
    height: 50px;
}

.module h2, .module caption, .inline-group h2 {
    padding: 12px;
}

a:link, a:visited {
    color: var(--link-fg);
}

div.breadcrumbs {
    margin-bottom: 20px;
}

#site-name a:link, #site-name a:visited {
    font-weight: 600;
    color: #fff;
}

#nav-sidebar {
    border: 0;
    flex: 0 0 325px;
}

#nav-sidebar .current-app .section:visited {
    color: var(--visited);
}

table thead th .text a, td, th {
    padding: 15px;
    border: 0;
}

#nav-filter {
    padding: 12px 5px;
    margin: 10px 0;
}

.toggle-nav-sidebar {
    border-right: 0;
    padding: 20px;
}

/* Scrollbar Styles */
:root {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

/* Ensure these styles apply to the admin interface */
#container {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

#container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

#container::-webkit-scrollbar-track {
    background: transparent;
}

#container::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

/* Additional styles to ensure scrollbar appears on overflow */
html, body {
    overflow-y: auto;
}

#container {
    overflow-y: auto;
    height: 100vh;
}
